<openbox_menu xmlns="http://openbox.org/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://openbox.org/ openbox_menu.xsd">

    <menu id="root-menu" label="Openbox 3">
        <item label="I N D E X">
            <action name="Execute">
                <command>pcmanfm</command>
            </action>
        </item>
        <item label="T E R M I N A L">
            <action name="Execute">
                <command>terminator</command>
            </action>
        </item>
	<separator/>
		<menu id="tool" label="T O O L">
			<item label="B R O W S E R">
            		<action name="Execute">
                	<command>firefox</command>
            		</action>
			</item>

			
			<menu id="computer" label="C O M P U T E R">
				<item label="T A S K">
               	 		<action name="Execute">
               	     		<command>terminator -e htop</command>
               	 		</action>
				</item>
				<item label="B O X">
               	 		<action name="Execute">
               	     		<command>gnome-boxes</command>
               	 		</action>
				</item>
				<item label="S Y S T E M">
               	 		<action name="Execute">
               	     		<command>gnome-control-center</command>
               	 		</action>
				</item>
				<item label="A P P S">
               	 		<action name="Execute">
               	     		<command>gnome-software</command>
               	 		</action>
				</item>
			</menu>
			<menu id="office" label="O F F I C E">
				<item label="W R I T E">
            			<action name="Execute">
                		<command>libreoffice --writer</command>
            			</action>
        			</item>
				<item label="C A L C">
            			<action name="Execute">
                		<command>libreoffice --calc</command>
            			</action>
        			</item>
			</menu>		
			<menu id="media" label="M E D I A">
				<item label="V L C">
               	 		<action name="Execute">
               	     		<command>vlc</command>
               	 		</action>
				</item>
				<menu id="edit" label="E D I T">
					<item label="A U D I O">
               	 			<action name="Execute">
               	     			<command>audacity</command>
					</action>
					</item>
					<item label="P H O T O">
               	 			<action name="Execute">
               	     			<command>gimp</command>
					</action>
					</item>
					<item label="V I D E O">
               	 			<action name="Execute">
               	     			<command>kdenlive</command>
					</action>
					</item>
				</menu>
			</menu>
	</menu>
        <separator/>
        <item label="E X I T">
            <action name="Exit"/>
        </item>
</menu>


<!-- Titlebar menu -->

<menu id="titlebar" label="Client Menu">
    <item label="C L O S E">
        <action name="Close"/>
    </item>
    <separator/>
    <item label="R O L L">
	<action name="Shade"/>
    </item>
    <item label="M O V E">
        <action name="Move"/>
    </item>
    <item label="S I Z E">
        <action name="Resize"/>
    </item>
    <item label="H I D E">
        <action name="Iconify"/>
    </item>
</menu>



</openbox_menu>

